&.desktop {
  .card {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: center;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 90%;
    padding: 0;
    transform: translate(-50%, -50%);

    &.left-center,
    &.left-top,
    &.left-bottom {
      justify-content: flex-start;
    }

    &.right-center,
    &.right-top,
    &.right-bottom {
      justify-content: flex-end;
    }

    &.center-top,
    &.center-bottom,
    &.center-center {
      justify-content: flex-start;
      text-align: center;
    }

    &.right-top,
    &.left-top,
    &.center-top {
      align-items: flex-start;
    }

    &.right-bottom,
    &.left-bottom,
    &.center-bottom {
      align-items: flex-end;
    }

    &.right-center,
    &.left-center,
    &.center-center {
      align-items: center;
    }

    .content {
      padding: 3.3rem;
      line-height: normal;
      margin-bottom: 0;

      .description {
        margin-bottom: 15px;
        font-size: 14px;
      }

      h1 {
        font-size: 35px;
        margin-bottom: 15px;
        font-weight: 700;
      }

      h2 {
        text-transform: uppercase;
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 16px;
      }

  
    }
  }

  figure {
    //min-height: 38rem;
  }

  img {
    //min-height: 38rem;
    object-fit: cover;
  }

  @include media("lg") {
    .swiper-button-next {
      right: 2rem;
    }

    .swiper-button-prev {
      left: 2rem;
    }
  }

  @include media("xs") {
    .card {
      max-width: 75%;
      top: 22%;
      left: 10%;

      .content {
        .description {
          font-size: 1.4rem;
        }

        h1 {
          font-size: 2.3rem;
        }

        h2 {
          font-size: 1.4rem;
        }

        a {
          font-size: 1.4rem;
        }
      }
    }
  }

  @include media("xs") {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}

#nova-cole-o{
  text-align: left;
  font-style: italic;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  color: $cor-principal;
}

#outono{
  text-align: left;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 64px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  display: inline;
  position: relative;
  left: -32px;
  position: relative;
}

#inverno{
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 64px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #5e299a;
  text-shadow: 1px #5e299a;
  display: inline;
  color: transparent;
  position: relative;
  left: -20px;
}

#frete-gratis-nas-compras-acima-de{
  text-align: left;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
  color: $cor-principal;
  padding-bottom: 20px;
  display: inline;
}

#r-200-00{
  display: inline;
  font-style: normal;
  font-weight: 600;
  color: $cor-principal;
}

#ocultar{
  display: table-column;
}


.center-center{
  .btn{
    background-color: #638C0B !important;
    display: table;
    color: $white !important;
    border-radius: 0 !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 19px !important;
    padding: 10px 50px;
    margin-top: 25px;
  }
}