.search {
  align-self: center;
  background: #FFFFFF;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  border: none;

  @include media("xs") {
    order: 4;
    flex: 1 0 100%;
    margin-top: 0.14rem;
    margin-bottom: 1.14rem;
  }

  form {
    input {
      height: 1.2rem;
      padding: 25px 30px;
      line-height: 1.1em;
      border: 0 solid transparent;
      width: 480px;
      letter-spacing: 0.5px;
      font-size: $font-size-small;
      box-shadow: 0 2px 0 transparent;
      transition: all 500ms ease;
      font-weight: 500;
      background-color: transparent;
      cursor: text;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: $color-details;
      }
    }
  }

  .search-icon {
    padding: 0.3rem 0.5rem;
    vertical-align: middle;
    height: 1.786rem;
    color: #ddd;
  }
}

.icon-search-1{
  color: #ddd;
  font-weight: bold;
  height: 24px;
  width: 30px;
  padding-right: 5px;
}


@media screen and (max-width: 1400px){
  .search {
    align-self: center;
    background: #FFFFFF;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    border: none;
  
    @include media("xs") {
      order: 4;
      flex: 1 0 100%;
      margin-top: 0.14rem;
      margin-bottom: 1.14rem;
    }
  
    form {
      input {
        height: 1.2rem;
        padding: 25px 30px;
        line-height: 1.1em;
        border: 0 solid transparent;
        width: 300px;
        letter-spacing: 0.5px;
        font-size: $font-size-small;
        box-shadow: 0 2px 0 transparent;
        transition: all 500ms ease;
        font-weight: 500;
        background-color: transparent;
        cursor: text;
  
        &:focus {
          outline: none;
        }
  
        &::placeholder {
          color: $color-details;
        }
      }
    }
  
    .search-icon {
      padding: 0.3rem 0.5rem;
      vertical-align: middle;
      height: 1.786rem;
      color: #ddd;
    }
  }
}