.text-account{
    a{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
    }
    span{
        font-size: 14px;
    }
}