<div class="account">
  <a href="{{ account_url }}">
    <svg class="icon">
      <use xlink:href="#icon-account"/>
    </svg>
    <div class="text-account">
      <a class="btn-login" href="{{ account_url }}">entre <span>ou</span></a><a class="btn-login" href="{{ account_url }}">Cadastre-se</a>
    </div>
  </a>
</div>
