{% if template == 'home' %}
  <div class="logo">
    <a href="/">
      <img 
        src="{{ img_logo }}" 
        alt="{{ current_shop.name }}" 
        loading="lazy"
      />
    </a>
  </div>
{% else %}
  <div class="logo">
    <a href="/">
      <img 
        src="{{ img_logo }}" 
        alt="{{ current_shop.name }}" 
        loading="lazy"
      />
    </a>
  </div>
{% endif %}

