<div class="search">
  <form action="{{ search_url }}">
    <input type="search" name="q" required />
    <button class="search-icon" data-action="show-form-search">
      
    <svg class="icon-search-1" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.68617 13.0915C5.77228 11.7491 5.2381 10.1274 5.2381 8.38095C5.2381 3.75228 8.99038 0 13.619 0C18.2477 0 22 3.75228 22 8.38095C22 13.0096 18.2477 16.7619 13.619 16.7619C11.8726 16.7619 10.2509 16.2277 8.9085 15.3138L2.6826 21.5397C2.06892 22.1534 1.07394 22.1534 0.460261 21.5397C-0.15342 20.9261 -0.15342 19.9311 0.460261 19.3174L6.68617 13.0915ZM13.6191 13.619C16.512 13.619 18.8572 11.2738 18.8572 8.38086C18.8572 5.48794 16.512 3.14276 13.6191 3.14276C10.7262 3.14276 8.38103 5.48794 8.38103 8.38086C8.38103 11.2738 10.7262 13.619 13.6191 13.619Z" fill="#8A8D98"/>
    </svg>

    </button>
  </form>
</div>
