{% gtm product_detail: product %} 
{% head %} 
  {% opengraphfor product %}

  <link rel="stylesheet" type="text/css" href="/pages/product_above.css" inline>
  <link rel="stylesheet" href="{{ 'pages/product.css' | stylesheet_path }}" media="print" onload="this.media='all'" />
{% endhead %} 

{% body %}
  <script>
    const mzOptions = {
      expand: 'off',
      zoomOn: 'click',
      zoomPosition: 'inner',
      expandZoomMode: 'off',
      textHoverZoomHint: '',
      textClickZoomHint: 'Clique para dar zoom',
    };

    const mzMobileOptions = {
      zoomWidth: 30,
      zoomOn: 'click',
      zoomPosition: 'inner',
      expand: 'off',
      expandZoomMode: 'off',
      textClickZoomHint: 'Dois toques para o zoom',
    };
  </script>
{% endbody %} 

{% assign descricao_curta = '' %} 
{% assign descricao_parts = false %} 

{% if product.description contains '<hr/>' %} 
  {% assign descricao_curta = product.description | split: '<hr/>' | first %} 
  {% assign descricao_parts = product.description | split: '<hr/>' %} 
{% else %} 
  {% assign descricao_curta = product.description %} 
{% endif %}

{% assign current_product = product %} 
{% assign tag_medidas = product.tags | where: 'type', 'guia-medidas' | first %}

<div class="container product-section" data-section-product>
  <div class="mobile-only">
    {% render 'partials/product/product_name_price', product: product %}
  </div>
  <div class="product-images" data-product-images>
    {% render 'partials/product/images/images', product: product %}
  </div>
  <div class="product-info">
    <div class="desktop-only">
      {% render 'partials/product/product_name_price', product: product %}
    </div>
    {% render 'partials/product/infos', product: product, descricao_curta: descricao_curta, descricao_parts: descricao_parts, tag_medidas: tag_medidas, current_shop: current_shop, home_url: home_url %}
  </div>
  {% render 'partials/product/details', product: product, descricao_parts: descricao_parts %}
</div>

<div class="container">
  {% render 'partials/product/banner', product: product %}
  {%- comment -%}
    {% render 'partials/product/buy_together', current_product: product %}
  {%- endcomment -%}
  {% render 'partials/components/products/carousel', tag_type: 'relacionado' %}

  <div id="stamped-main-widget"
    data-product-id="##product.id##"
    data-name="##product.title##"
    data-url="##product.url##"
    data-image-url="##product.image##"
    data-description="##product.description##"
    data-product-sku="##product.handle##"
    data-product-aggregateRating="##product.aggregateRating##">
  </div>
  <span class="stamped-product-reviews-badge stamped-main-badge" data-id="##product.id##"></span>
  <script>

function addEventListenerStamped(el, eventName, manipulador) {

if (el.addEventListener) { el.addEventListener(eventName, manipulador); }
else { el.attachEvent('on' + eventName, function () { handler.call(el); }); }

}

addEventListenerStamped(document, 'carimbado:reviews:loaded', function(e) {
var ratingCount = jQueryStamped('meta[itemprop="reviewCount"]').attr('content');
var ratingValue = jQueryStamped('meta[itemprop="ratingValue"]').attr('content');


var richSnippet = {
"@context": "http://schema.org",
"@type": "Produto",
"@id": "https://pushecommerce.vnda.dev/#produto"
}


if (parseInt(ratingValue) > 0){
richSnippet.aggregateRating = {
"@type": "AggregateRating",
"avaliaçãoValue": avaliaçãoValue,
"reviewCount": ratingCount
}
}
var script = document.createElement('script');
script.type = 'aplicativo/ld+json';
script.innerHTML = JSON.stringify(richSnippet);
document.getElementsByTagName('head')[0].appendChild(script);
});
</script>
</div>
